@model List<SellingFastFood.Models.Product>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/BaseView.cshtml";
}

<!-- Slider -->
<div class="container-fluid">
    <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item position-relative active" style="height: 430px;">
                <img class="position-absolute w-100 h-100" src="~/Content/image/bg1.jpg" style="object-fit: cover;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Gà giòn vui vẻ </h1>
                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Hương vị tuyệt vời trong từng món ăn, mang lại niềm vui ẩm thực cho tất cả mọi người.</p>
                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="@Url.Action("","Product")">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item position-relative" style="height: 430px;">
                <img class="position-absolute w-100 h-100" src="~/Content/image/bg2.jpg" style="object-fit: cover;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Thức uống mát lạnh</h1>
                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Phục vụ những món thức ăn nhanh chất lượng theo quy trình được kiểm duyệt nghiêm khắc.</p>
                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="@Url.Action("","Product")">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item position-relative" style="height: 430px;">
                <img class="position-absolute w-100 h-100" src="~/Content/image/bg3.jpg" style="object-fit: cover;">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Món tráng miệng</h1>
                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Chúng tôi luôn quan tâm đến cộng đồng, đặc biệt là trẻ em và các gia đình; chúng tôi mang đến niềm vui và làm phong phú hơn cuộc sống của mọi người.</p>
                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="@Url.Action("","Product")">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Các tiện ích -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Sản phẩm đa dạng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Miễn phí vận chuyển</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Chính sách đổi trả</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5 pb-3">
<!-- Danh mục sản phẩm -->
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Top sản phẩm tháng @ViewBag.CurrentMonth</span>
    </h2>

    <div class="row px-xl-5">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="@item.ImageProduct" style="max-width: 100%; max-height: 400px;" alt="@item.ImageProduct">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="@Url.Action("AddToCart", "Cart", new { id = item.ProductID })"><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="@Url.Action("DetailProducts", "Product", new { id = item.ProductID })"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="@Url.Action("Detail","Product", new { item.ProductID })"><h5><b>@item.ProductName</b></h5></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@String.Format("{0:#,##0.##}", item.Price) VND</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@item.Category.CategoryName</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

