<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/6f688f08b3.js" crossorigin="anonymous"></script>

    <!-- Boostrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>


    <!-- CSS -->
    <link href="~/Content/css/main.css" rel="stylesheet" />


</head>
<body>
    <header>
        @{ var UserLogin = Session["User"] as SellingFastFood.Models.User; }
        <div class="container-fluid">
            <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
                <div class="col-lg-4">
                    <a href="@Url.Action("Index","Home")" class="text-decoration-none">
                        <span class="h1 text-uppercase text-primary bg-dark px-2">HKT</span>
                        <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">FASTFOOD</span>
                    </a>
                </div>
                <div class="col-lg-4 col-6 text-left">
                    <!--Thanh tìm kiếm -->
                    <form action="@Url.Action("Index","Product")" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" value="@Request.QueryString["search"]" placeholder="Tìm kiếm món ăn theo tên, giá, loại ...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-6 text-right">
                    <p class="m-0">Liên hệ chúng tôi</p>
                    <h5 class="m-0">+84 866695643</h5>
                </div>
            </div>
        </div>
        <!-- Navbar Start -->
        <div class="container-fluid bg-dark mb-30">
            <div class="row px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <!--Sản phẩm-->
                    <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" href="~/Product" style="height: 65px; padding: 0 30px;">
                        <h6 class="text-dark m-0"><i class="fa fa-layer-group mr-2"></i> Thực đơn</h6>
                    </a>

                </div>
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                        <a href="" class="text-decoration-none d-block d-lg-none">
                            <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                            <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1"></span>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="~/" class="nav-item nav-link active">Trang chủ</a>
                                <a href="#" class="nav-item nav-link">Cửa hàng</a>
                                <a href="#" class="nav-item nav-link">Giới thiệu</a>
                                <a href="#" class="nav-item nav-link">Liên hệ</a>
                                <div class="nav-item dropdown">
                                    @{ if (UserLogin == null)
                                        {
                                            <a href="@Url.Action("Login","Home")" class="nav-link">
                                                <i class="fas fa-user text-primary mr-2"></i><span class=" text-secondary " style="padding-bottom: 3px;">Đăng nhập</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                                <i class="fas fa-user text-primary mr-2"></i><span class="text-secondary">Xin chào! @UserLogin.UserName<i class="fa fa-angle-down ml-1"></i></span>
                                            </a>

                                            <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                                @*                                                <form action="@Url.Action("Profile", "Home")" method="post">
                                                        <input type="hidden" name="id" value="@NguoiDung.id" />
                                                        <button type="submit" class="dropdown-item">Hồ sơ</button>
                                                    </form>*@
                                                <a href="@Url.Action("ProfileUser","Home",new {id = UserLogin.UserID})" class="dropdown-item">Hồ sơ</a>

                                                <a href="@Url.Action("Logout","Home")" class="dropdown-item">Đăng xuất</a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <!--Giỏ hàng và yêu thích sản phẩm-->
                            <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                                @*                                <a href="@Url.Action("ListCart","Cart")" class="btn px-0">
                                        <i class="fa fa-heart text-primary"></i>
                                        <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"></span>
                                    </a>*@
                                @if (UserLogin == null)
                                {
                                    <a href="@Url.Action("Login","Home")" class="btn px-0 ml-3">
                                        <i class="fas fa-shopping-cart text-primary"></i>
                                        <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="~/Cart/ListCarts" class="btn px-0 ml-3">
                                        <i class="fas fa-shopping-cart text-primary"></i>
                                        <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">@ViewBag.CountProduct</span>
                                    </a>
                                }

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                    <h5 class="text-secondary text-uppercase mb-4">Liên hệ chúng tôi</h5>
                    <a href="https://maps.google.com/maps?q=1454+Lê+Văn+Lương,+Nhà+Bè,+Tp.HCM" target="_blank">
                        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>1454 Lê Văn Lương, Nhà Bè, Tp.HCM</p>
                    </a>
                    <a href="mailto:nykhoa2405@gmail.com">
                        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>nykhoa2405@gmail.com</p>
                    </a>
                    <a href="tel:+84866695643">
                        <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 866695643</p>
                    </a>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="text-secondary text-uppercase mb-4">Về K Perfume</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-secondary mb-2" href="@Url.Action("")"><i class="fa fa-angle-right mr-2"></i>Trang chủ</a>
                                <a class="text-secondary mb-2" href="@Url.Action("","Product")"><i class="fa fa-angle-right mr-2"></i>Thực đơn</a>
                                <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Cửa hàng</a>
                                <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Giới thiệu</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="text-secondary text-uppercase mb-4">Chính sách</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách mua hàng</a>
                                <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách giao hàng</a>
                                <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách đổi trả</a>
                                <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách bảo quản hàng</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h6 class="text-secondary text-uppercase mt-4 mb-3">Theo dõi chúng tôi</h6>
                            <div class="d-flex">
                                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-secondary">
                        &copy; <a class="text-primary" href="@Url.Action("","Home")">K Perfume</a>. Công ty một thành viên. Trách nhiệm thiết kế

                        <a class="text-primary" href="http://fb.com/nguyenykhoa123" target="_blank">Khoa2405</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!--Thông báo-->
</body>
</html>

